.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}

.form {
  width: 33rem;
}

.btn-contact {
  display: flex;
  justify-content: center;
  width: 100%;
}
