.home{
  background-color: #F1E5D1;
}
.img-home {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}




.header-secondary {
  background-color: #F1E5D1;
  font-size: 8.4rem;
}

.header-terciary {
  background-color: #F1E5D1;
  font-size: 6.4rem;
}

.text{
  font-size: 2.4rem;
}

.padding{
  padding: 4.2rem;
}

.btn {
  background-color: #C39898;
  font-size: 1.4rem;
}
