// add avatar images
@import "variables";
.how-box {
  background-color: $fourth-color;
}


.header-secondary-how {
  font-size: 4.2rem;
  color: $main-color;
  font-weight: bold;
}

.text-how {
  font-size: 3.6rem;
  background-color: $main-color;
  padding: 1.4rem 2.8rem;
}

.text-info {
  font-size: 1.8rem;
  color: $second-text-color;
}

// .span-how {
//   background-color: $third-color;
//   padding: 1.4rem 2.8rem;
// }
