// add avatar images

.how-box {
  background-color: #987070;
}


.header-secondar-how {
  font-size: 5.2rem;
}

.text-how {
  font-size: 4.8rem;
  background-color: black;
  padding: 1.4rem 2.8rem;
}

.span-how {
  background-color: white;
  padding: 1.4rem ;
}
