// add avatar images
@import "variables";
.how-box {
  background-color: $fourth-color;
}


.header-secondary-how {
  font-size: 4.2rem;
  color: $main-color;
  font-weight: bold;
}

.text-how {
  font-size: 3.6rem;
  background-color: $main-color;
  padding: 1.4rem 2.8rem;
}

.text-info {
  font-size: 1.8rem;
  color: $second-text-color;
}

@media screen and (max-width: 850px) {
  .header-secondary-how {
    font-size: 3.6rem;
  }

  .text-how {
    font-size: 2.8rem;
  }

  .text-info {
    font-size: 1.4rem;
  }
  .how-it-box {
    padding: 4rem;
  }
}

@media screen and (max-width: 780px) {
  // .header-secondary-how {
  //   font-size: 3.2rem;
  // }

  // .text-how {
  //   font-size: 2.4rem;
  // }

  // .text-info {
  //   font-size: 1.2rem;
  // }
  // .how-it-box {

  // }

}
