@import "variables";

.nav-link,
.navbar-brand {
  padding: 2rem;
  margin: 0 2.5rem;
}

.nav-link {
  font-size: 1.4rem;
  padding: 1rem;
  transition: ease-in-out 0.3s;

  &:hover {
    background-color: $second-color;
    border-radius: .3rem;
  }
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
  color: $text-color;
}

.navbar {
  background-color: $main-color;
}
