@import '~bootstrap/scss/bootstrap';
// Navbar
@import './stylesheets/navbar.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
font-size: 62.5%;
/* We use 62.5% that is equal 10px in a responsive way = easier to use rem */
}

body {
font-weight: 400;
/* Change when need it */
font-family: sans-serif;
}
